@model Unisul.PrestaSys.Web.Models.Prestacoes.PrestacaoListViewModel

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrestacoesList.First().Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrestacoesList.First().Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrestacoesList.First().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrestacoesList.First().Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrestacoesList.First().Valor)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.PrestacoesList.Any())
        {
            foreach (var item in Model.PrestacoesList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td style="text-align: center">
                        @if (Model.TipoListagem == "Index")
                        {
                            if (!item.ShouldLockPrestacao)
                             {
                                 <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Editar</a>
                                 <span>|</span>
                                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Detalhes</a>
                                 <span>|</span>
                                 <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Excluir</a>
                             }
                             else
                             {
                                 <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Prestação finalizada, não é possível alterá-la.">
                                     <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary disabled">Editar</a><span>|</span>
                                 </span>
                                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Detalhes</a>
                                 <span>|</span>
                                 <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Prestação finalizada, não é possível excluí-la.">
                                     <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger disabled">Excluir</a>
                                 </span>
                             }
                        }

                        @if (Model.TipoListagem == "Aprovar")
                        {
                        <a asp-action="Reject" asp-route-id="@item.Id" class="btn btn-danger">Rejeitar</a><span>|</span>
                        <a asp-action="Approve" asp-route-id="@item.Id" class="btn btn-success">Aprovar</a>
                        }

                        @if (Model.TipoListagem == "Financeiro")
                        {
                        <a asp-action="RejectFinanceiro" asp-route-id="@item.Id" class="btn btn-danger">Rejeitar</a><span>|</span>
                        <a asp-action="ApproveFinanceiro" asp-route-id="@item.Id" class="btn btn-success">Aprovar</a>
                        }

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">Não foram encontrados registros.</td>
            </tr>
        }
        </tbody>
    </table>
</div>
