@model Unisul.PrestaSys.Web.Models.Prestacoes.PrestacaoViewModel

@{
    ViewData["Title"] = "Aprovar Prestação de Contas";
}

<h1>Aprovar Prestação de Contas</h1>

<h3>Tem certeza que deseja aprovar esta Peestação de Contas?</h3>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Titulo):
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Tipo):
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Tipo.Tipo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Status):
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Status.Status)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Data):
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Justificativa):
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Justificativa)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Emitente):
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(modelItem => modelItem.Emitente.Nome) @Html.DisplayFor(modelItem => modelItem.Emitente.Sobrenome)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Aprovador):
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(modelItem => modelItem.Aprovador.Nome) @Html.DisplayFor(modelItem => modelItem.Aprovador.Sobrenome)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AprovadorFinanceiro):
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(modelItem => modelItem.AprovadorFinanceiro.Nome) @Html.DisplayFor(modelItem => modelItem.AprovadorFinanceiro.Sobrenome)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Valor):
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ImagemComprovante):
        </dt>
        <dd class="col-sm-8">
            @if (Model.ImagemComprovanteSrc != null)
            {
                <a class="btn btn-primary" data-target="#modalIMG" data-toggle="modal" href="#">Visualizar Imagem</a>
            }
            else
            {
                <i>Imagem não Enviada</i>
            }
        </dd>
    </dl>

    <form asp-action="Approve">
        <label asp-for="JustificativaAprovacao" class="control-label"></label>
        <textarea rows="10" asp-for="JustificativaAprovacao" class="form-control"></textarea>
        <span asp-validation-for="JustificativaAprovacao" class="text-danger"></span>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Aprovar Prestação" class="btn btn-success" /> |
        <a asp-action="PrestacoesParaAprovar">Voltar para a Lista</a>
    </form>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body mb-0 p-0">
                <img id="imgComprovante" src="@Model.ImagemComprovanteSrc" alt="Comprovante">
            </div>
            <div class="modal-footer">
                <div><a href="javascript:Download();">Download</a></div>
                <button class="btn btn-outline-primary btn-rounded btn-md ml-4 text-center" data-dismiss="modal" type="button">Fechar</button>
            </div>
        </div>
    </div>
</div>
